@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc;
@using ElementFactory.Data.Models;
@inject UserManager<User> userManager;
@model User;
@{
    ViewBag.Title = "Моят профил";
}
<form asp-action="" asp-controller="">
    <div class="checkoutProfileContainer">
        <div>
            Здравей @Model.UserName!
        </div>
        <div class="leftProfileContainer">
            <div>
                Имейл
            </div>
            <div>
                Роли
            </div>
            @if (Model.PhoneNumber == null)
            {
                <div>
                    Добави телефон
                </div>
            }
            else
            {
                <div>
                    Телефон
                </div>
            }
            <div>
                Смени паролата
            </div>
        </div>

        <div class="rightProfileContainer">
            <div>
                @Model.Email
            </div>
            <div>
                @string.Join(", ",userManager.GetRolesAsync(Model))
            </div>
            @if (Model.PhoneNumber == null)
            {
                <div>
                </div>
            }
            else
            {
                <div>
                </div>
            }
            <div>
            </div>
            @if (userManager.IsInRoleAsync(Model, "Student").Result)
            {
                <a>
                    Заявка за учител
                </a>
            }
        </div>

    </div>

</form>
