@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc;
@using ElementFactory.Data.Models;
@inject UserManager<User> userManager;
@model User;
@{
    ViewBag.Title = "Моят профил";
}
<div class="checkoutProfile">

</div>
