@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc;
@using ElementFactory.Data.Models;
@inject UserManager<User> userManager;
@model User;
@{
    ViewBag.Title = "Моят профил";
}
<form asp-action="UpdateProfile" asp-controller="User">
    <div class="checkoutProfileContainer">
        <div>
            Здравей @Model.UserName!
        </div>

        <div>
            <label>
                Имейл
            </label>
            @Model.Email
        </div>

        <div>
            <label>
                Роли
            </label>
            @string.Join(", ",userManager.GetRolesAsync(Model));
        </div>

        @if (Model.PhoneNumber == null)
        {
            <div>
                <label asp-for="PhoneNumber">
                    Телефонен номер
                </label>
                <input asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
        }
        else
        {
            <div>
                <label>
                    Телефонен номер
                </label>
                @Model.PhoneNumber
            </div>
        }
        @if (userManager.IsInRoleAsync(Model, "Student").Result && Model.IsRequested == false)
        {
            <button onclick="@{
                    Model.IsRequested=true;
                                }">
                Заявка за учител
            </button>
        }
        else if (userManager.IsInRoleAsync(Model, "Student").Result && Model.IsRequested != false)
        {
            <button onclick="@{
                    Model.IsRequested=false;
                                }">
                Отмени заявка за учител
            </button>
        }
        <input type="submit"/>
        
    </div>

</form>
