@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc;
@using ElementFactory.Data.Models;
@inject UserManager<User> userManager;
@model User;
@{
    ViewBag.Title = "Моят профил";
}
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <form asp-action="UpdateProfile" asp-controller="User">
        <div class="checkoutProfileContainer">
             <div>
                Здравей, @Model.UserName!
            </div>

        <div>
            <label>
                Имейл
            </label>
            @Model.Email
        </div>

        <div>
            <label>
                Роли
            </label>
            @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Student"))
            {
                        
                    var user = await userManager.FindByNameAsync(User?.Identity?.Name);
                    var roles = await userManager.GetRolesAsync(user);
                        
                    
                    @string.Join(", ",roles);
                
            }
           
        </div>

        @if (Model.PhoneNumber == null)
        {
            <div class="mb-4">
                <label asp-for="PhoneNumber" class="form-label">
                    Телефонен номер
                </label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
        }
        else
        {
            <div>
                <label>
                    Телефонен номер
                </label>
                @Model.PhoneNumber
            </div>
        }
        @if (userManager.IsInRoleAsync(Model, "Student").Result && Model.IsRequested == false)
        {
            <button onclick="@{
                                Model.IsRequested=true;
                                }" class="btn btn-primary">
                Заявка за учител
            </button>
        }
        else if (userManager.IsInRoleAsync(Model, "Student").Result && Model.IsRequested != false)
        {
            <button onclick="@{
                    Model.IsRequested=false;
                                }" class="btn btn-primary">
                Отмени заявка за учител
            </button>
        }
                <input type="submit" class="btn btn-primary" />
        
    </div>

</form>
</div>
</div>
