﻿@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc;
@using ElementFactory.Models.User;
@model List<LeaderUser>;
@{
    ViewBag.Title = "Класация";
}
<div class="pseudo-body-leaderboard">
    <div class="container-main">
        <main>
        <div id="header-leaderboard">
            <h1 class="h1-leaderboard">Класиране</h1>
        </div>
        <div id="leaderboard">
            <div class="ribbon"></div>
            <table class="table-leaderboard">
                @for (int i = 0; i < 6; i++)
                {
                    if (i >= Model.Count)
                    {
                        break;
                    }
                    if (i == 1)
                    {
                        <tr class="tr-leaderboard">
                            <td class="number td-leaderboard">
                                @{
                                    int place = i + 1;
                                }
                                @place
                            </td>
                            <td class="name td-leaderboard">@Model[i].Name</td>
                            <td class="points td-leaderboard">
                                @Model[i].Points <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal" />
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="tr-leaderboard">
                            <td class="number td-leaderboard">
                                @{
                                    int place = i + 1;
                                }
                                @place
                            </td>
                            <td class="name td-leaderboard">@Model[i].Name</td>
                            <td class="points td-leaderboard">@Model[i].Points</td>
                        </tr>
                    }

                }
            </table>
        </div>
    </main>
    </div>
</div>
<script>
    document.getElementsByTagName('body')[0].classList.add('scrollClass');
</script>