@{
    ViewBag.Title = "Избери клас";
}
<div class="classesViewContainer">
    <h1 class="classesTitle">Избери клас:</h1>
    <div class="classesContainer">
        <button>7 клас</button>
        <button>8-9 клас</button>
        <button>10 клас</button>
        <button>11-12 клас</button>
    </div>
</div>